<!-- Navbar created with the help of templates found on https://bootswatch.com/ -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="http://flip3.engr.oregonstate.edu:24505">Sustainable Technology Database</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://flip3.engr.oregonstate.edu:24505/EnergySource">1. Energy Sources <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://flip3.engr.oregonstate.edu:24505/EnergyTech">2. Energy Technology <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://flip3.engr.oregonstate.edu:24505/SustainableProd">3. Sustainability Products <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://flip3.engr.oregonstate.edu:24505/Company">4. Companies <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://flip3.engr.oregonstate.edu:24505/Region">5. Regions <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
